@charset "ISO-8859-1";
body {
	background-color: silver;
}
.wrapper{
	width: 1200px;
	margin: auto;
}
.building {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: solid 2px black;
	padding: 10px;
	vertical-align: top;
	text-align: center;
}
.activities {
	border: solid 2px black;
	overflow-y: false;
}
.greeen {
	color: green;
}
.red {
	color: red;
}